@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&family=Ultra&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(to right, rgb(179 250 255 / 53%), rgb(41 162 162));
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

/* for the .main-container */

.main-container{
    display: flex;
    flex-direction: column;
    min-height: 20rem;
    justify-content: space-evenly;
    align-items: center;
}

/* for the header */

.header{
    width: 80%;
    margin: auto;
    color: rgb(0 82 95);
    text-align: center;
}

.header h1{
    font-size:5rem;
}

/* for the form */

.form{
    display: flex;
    flex-direction: column;
    position:relative;
    top:2.5rem;
    width:80%;
    align-items: center;
    margin-bottom: 8rem;
    padding-bottom: 2rem;
    background-image: linear-gradient(to right, rgb(143 242 242), rgb(3 33 44));
    border-radius: 2rem;
    padding: 5rem;
}
.form>div{
   display: flex;
   justify-content: space-between;
   margin:1.5rem 0;
   width: 80%;
}
.label{
    font-size: 1.5rem;
}
.form>div>input{
    width: 60%;
    padding: 0.5rem;
    border-style: none;
    border-radius: 0.4rem;
}

#submit{
    padding: 0.5rem 4.5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}

#submit:hover{
   color: white;
   background-color: black;
}

/* for the img-container */

#img-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.single-img {
    position: relative; 
    width: 25rem;
    height: 25rem;
    margin: 2rem; 
    background-color: black;
    font-family: 'Ultra', serif;
    font-size: 2rem;
    color: white;
}

.single-img img {
    display:block;
    width:100%;
    height: 100%;
}

.single-img .top{
    position: absolute;
    right: 0;
    left: 0; 
    top: 1.5rem; 
    text-align: center;
    width: 100%;
}

.single-img .bottom {
    position: absolute;
    right: 0; 
    left: 0; 
    bottom: 1.5rem; 
    text-align: center;
    width: 100%;
}

.single-img:hover{
    background-image: url("https://css-assets.com/uploads/add-cross-delete-exit-remove-icon--6.png");
    background-repeat: no-repeat;
    background-position: center;
}

 .single-img > img:hover{ 
    cursor: pointer;
    opacity: 0.5;
}

/* for media */

@media screen and (max-width: 960px) {
    #img-container {
        flex-direction: column;
        align-items: center;
    }

    .single-img {
        margin: 0 0 30px 0;
    }
}